
@{
    ViewBag.Title = "AreaRestrita";
}
<div class="cliente-index">
    <div class="cliente-index-div">
        <h2>Area Restrita</h2>

        <p>Pesquise os Clientes <a class="btn btn-default" href="/Pessoa/Pesquisar">Cliente</a></p>

        <p>Pesquise os Contatos <a class="btn btn-default" href="/Contato/Pesquisar">Contato</a></p>


        <div class="row">
            <div class="col-md-4">
                <h2>Produto</h2>
                <p><a class="btn btn-default" href="/Produto/Listar">CRUD Produto</a></p>
            </div>
            <div class="col-md-4">
                <h2>Notícias</h2>
                <p><a class="btn btn-default" href="/Noticia/Listar">CRUD Noticias</a></p>
            </div>
            <div class="col-md-4">
                <h2>Cliente</h2>
                <p><a class="btn btn-default" href="/Pessoa/Listar">CRUD Cliente</a></p>
            </div>
            <div class="col-md-4">
                <h2>Contato</h2>
                <p><a class="btn btn-default" href="/Contato/Listar">CRUD Contato</a></p>
            </div>
            <div class="col-md-4">
                <h2>Investidor</h2>
                <p><a class="btn btn-default" href="/Investidor/Listar">CRUD Contato</a></p>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
