
@{
    ViewBag.Title = "AreaRestrita";
}

<h2>Area Restrita</h2>

<div>
    <ul>
        <li>@Html.ActionLink("Listar Notícias", "Listar", "Noticia")</li>
        <li>@Html.ActionLink("Cadastrar Notícias", "Cadastrar", "Noticia")</li>
        <li>@Html.ActionLink("Listar Clientes", "Listar", "Pessoa")</li>
        <li>@Html.ActionLink("Listar Contato", "Listar", "Contato")</li>
    </ul>
</div>

<h2>deixar somente os metodos pesquisar</h2>