@{
    ViewBag.Title = "Noticia";
}
<h2>Notícias de como foi desenvolvido nosso produto 'FinTech'.</h2>

<p>Teste Noticia, @Html.ActionLink("Cadastre-se", "CadastrarNoticia")</p>

<img src="~/Imagens/pessoa.png" />

