@model IEnumerable<Site_MVC_FinTech.Models.Investidor>

@{
    ViewBag.Title = "AreaRestrita";
}

<h2>Pesquisar Investimento</h2>

<a class="btn btn-default" href="/Investidor/AreaRestrita">Voltar</a>