@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>IsaInvest</h1>
    <p class="lead">Novo ChatBox de investimento financeiro</p>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>O que é IsaInvest?</h2>
        <p>
            A IsaInvest é uma Assistente Financeira, dentro de um aplicativo de ChatBox de Investimento que possibilita obter inofrmações sobre o mercado financeiro e suas tecnologias.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Pra que existimos</h2>
        <p>
            Tornar fácil o acesso a informação e conhecimento sobre o mercado financeiro e seus produtos a todas as pessoas da sociedade brasileira. auxiliando-as a investirem melhor e a escolherem os melhores empréstimos baseando-se em suas necessidades.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Serviços Financeiros</h2>
        <p>
            O presente trabalho visa analisar a atual relação das pessoas físicas com os serviços financeiros oferecidos pelos bancos e como pode ser otimizada através do uso da tecnologia.
            São pontos chaves Investimento, Empréstimo, Bancos, Mercado Financeiro, Tecnologia.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Seja Nosso Investidor</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="~/Investidor/Index">Investidor &raquo;</a></p>
    </div>
</div>
