@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>FinTech</h1>
    <p class="lead">Novo ChatBox de investimento financeiro</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Pergunte ao Chat</h2>
        <p>Faça perguntas sobre Qual melhor investimento para você.</p>
        
    </div>
    <div cl
    <div class="col-md-4">
        <h2>Seja nosso Cliente</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="/Cliente">Learn more &raquo;</a> </p>
    </div>
    <div class="col-md-4">
        <h2>Invista em nosso produto</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>
